@model IEnumerable<CIF.Models.SystemDataView>

@{
    ViewBag.Title = "DataSystem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DataSystem</h2>

<p>
    @Html.ActionLink("Thêm", "AddDataSystem")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSystemData", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteSystemData", new { id=item.Id })
        </td>
    </tr>
}

</table>
